<ion-view>

    <ion-nav-title class="bar bar-header bar-dark">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class="title">Category report {{groupName}}</h1>
    </ion-nav-title>
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()"
            refreshing-text="Refreshing!"
            refreshing-icon="ion-loading-c">
        </ion-refresher>

        <div class="card">
            <!--<label class="item item-input item-select">-->
            <!--<div class="input-label">-->
            <!--Period style-->
            <!--</div>-->
            <!--<select ng-model="periodType">-->
            <!--<option>Month</option>-->
            <!--<option selected>Year</option>-->
            <!--<option>Custom</option>-->
            <!--</select>-->
            <!--</label>-->
            <ionic-datepicker input-obj="startDateObject">
                <ion-item class="item item-button-right">
                    Start date
                    <button class="button button-clear">{{startDateObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
                </ion-item>
            </ionic-datepicker>
            <ionic-datepicker input-obj="endDateObject">
                <ion-item class="item item-button-right">
                    Start date
                    <button class="button button-clear">{{endDateObject.inputDate | date:'dd - MMMM - yyyy'}}</button>
                </ion-item>
            </ionic-datepicker>
            <button class="button button button-block button-dark">
                Generate report
            </button>

        </div>

        <ion-list>
            <ion-item class="item item-dark item-divider">
                Report for {{period.start | date:'dd-MMM-yyyy'}} - {{period.end | date:'dd-MMM-yyyy'}}
            </ion-item>
            <ion-item
                class="item item-icon-left item-button-right"
                ng-repeat="cat in categories | orderBy:'id'">

                <i class="icon {{cat.icon? cat.icon : 'ion-record'}} {{cat.color}}"></i>

                {{cat.name}}
                <a class="button button-clear">
                        <span class="dark">
                        {{cat.total}}
                        </span>
                </a>
            </ion-item>
            <ion-item class="item item-dark item-button-right">
                Total in period
                <a class="button button-clear">
                        <span class=" {{sumAll >0 ? 'balanced' : 'assertive'}}">
                        {{sumAll}}
                        </span>
                </a>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
