<ion-view>

    <ion-nav-title class="bar bar-header bar-dark">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Category report {{groupName}}</h1>
        <button class="button button-clear" ng-click="toggleAddForm()">New</button>
    </ion-nav-title>
    <ion-content>
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="doRefresh()"
            refreshing-text="Refreshing!"
            refreshing-icon="ion-loading-c">
        </ion-refresher>
        <!-- Add new category form -->
        <div class="card" ng-show="showAddForm">
            <ion-item class="item item-dark item-divider">
                {{editMode? 'Edit category details': 'Add new category'}}
            </ion-item>
            <label class="item item-input">
                <span class="input-label">Category Name</span>
                <input ng-model="ncat.name" type="text" placeholder="Groceries">
            </label>
            <ion-item class="item-text-wrap">
                <h2>Color</h2>
                <!--<div class="item-body">-->
                <a ng-repeat="c in colors"
                   class="button {{ncat.color==c ? 'activated':'button-clear'}}"
                   ng-click="ncat.color=c">
                    <i class="icon ion-record {{c}}"></i>
                </a>
                <!--</div>-->
            </ion-item>
            <ion-item class="item-text-wrap">
                <h2>Icon</h2>
                <a ng-repeat="i in icons"
                   class="button {{ncat.icon==i? 'activated':'button-clear'}}"
                   ng-click="ncat.icon=i">
                    <i class="icon {{i}} {{ncat.color}}"></i>
                </a>

            </ion-item>
            <div class="button-bar">
                <button class="button button-block button-assertive" ng-click="toggleAddForm()">
                    Cancel
                </button>
                <button class="button button-block button-dark" ng-click="createCategory(ncat)">
                    {{editMode? 'Save details': 'Add category'}}
                </button>
            </div>
        </div>
        <div class="item-divider text-center"
             ng-click="togglePeriodSelector()">
            Edit period
        </div>
        <!-- Period selector -->
        <div class="card" ng-show="showPeriodSelector">
            <ionic-datepicker input-obj="startDateObject">
                <ion-item class="item item-button-right">
                    Start date
                    <button class="button button-clear">{{startDateObject.inputDate | date:'dd - MMMM - yyyy'}}
                    </button>
                </ion-item>
            </ionic-datepicker>
            <ionic-datepicker input-obj="endDateObject">
                <ion-item class="item item-button-right">
                    Start date
                    <button class="button button-clear">{{endDateObject.inputDate | date:'dd - MMMM - yyyy'}}
                    </button>
                </ion-item>
            </ionic-datepicker>
            <button class="button button button-block button-dark" ng-click="doRefresh()">
                Generate report
            </button>

        </div>
        <ion-list>
            <ion-item
                class="item item-dark item-divider text-center item-icon-left item-icon-right">
                <i class="icon ion-chevron-left" ng-click="previousPeriod()"></i>
                Report {{period.start | date:'dd-MMM-yyyy'}} - {{period.end | date:'dd-MMM-yyyy'}}
                <i class="icon ion-chevron-right" ng-click="nextPeriod()"></i>
            </ion-item>
            <ion-item ng-show="refreshPeriod" class="text-center">
                <ion-spinner icon="spiral"></ion-spinner>
            </ion-item>
            <ion-item class="item item-dark item-button-right">
                Total in period
                <a class="button button-clear">
                        <span class=" {{sumAll >0 ? 'balanced' : 'assertive'}}">
                        {{sumAll | number:2}}
                        </span>
                </a>
            </ion-item>
            <ion-item
                class="item"
                ng-repeat="cat in categories | orderBy:'total'">
                <div class="item-icon-left item-text-wrap item-button-right">

                    <i class="icon {{cat.icon? cat.icon : 'ion-record'}} {{cat.color}}"></i>

                    {{cat.name}}
                    <a class="button button-clear">
                        <span class="dark">
                        {{cat.total| number:2}}
                        </span>
                    </a>
                </div>
                <ion-option-button class="button button-calm icon ion-edit"
                                   ng-hide="cat.name=='No category'"
                                   ng-click="edit(cat)">
                    Edit
                </ion-option-button>
            </ion-item>

        </ion-list>
    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="title">{{withoutCategory}} transactions without category</div>
    </div>
</ion-view>
