<ion-view>
    <ion-nav-title class="bar bar-header bar-dark">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class="title">{{user.name}} Profile</h1>
        <button class="button button-clear icon ion-log-out" ng-click="logout()"></button>
    </ion-nav-title>
    <ion-content overflow-scroll="true">
        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="refresh()"
            refreshing-text="Refreshing!"
            refreshing-icon="ion-loading-c">
        </ion-refresher>
        <div class="list">
            <div class="profile-container" ng-click="showProfileDetails=!showProfileDetails">
                <!--<div id="em-profile" class="item">-->
                <!-- <img src="img/logo.png"> -->
                <div ng-if="user.avatar" class="profile-pic"
                     ng-style="{'background-image': 'url(' + user.avatar + ')'}"></div>
                <div ng-if="!user.avatar" class="profile-pic"
                     style="background-image: url(img/profile-pic-default.png)"></div>
                <!--</div>-->
                <div id="myDiv">
                    <div id="color">
                        <div id="effect"></div>
                    </div>
                </div>
                <div class="profile-background" ng-style="{'background-image': 'url(' + user.profilePic + ')'}"></div>
            </div>
            <div class="list list-inset"
                 ng-show="showProfileDetails">
                <label class="item item-input field-disabled">
                    <span class="input-label">Email</span>
                    <input ng-model="user.email" type="text"
                           ng-change="profileChanged=true" placeholder="user@gmail.com">
                </label>
                <label class="item item-input">
                    <span class="input-label">Display Name</span>
                    <input ng-model="user.name" type="text"
                           ng-change="profileChanged=true" placeholder="Israel Israeli">
                </label>
                <label class="item item-input">
                    <span class="input-label">Country</span>
                    <input ng-model="user.country" type="text"
                           ng-change="profileChanged=true" placeholder="Israel">
                </label>
                <label class="item item-input">
                    <span class="input-label">Phone</span>
                    <input ng-model="user.phone" type="text"
                           ng-change="profileChanged=true" placeholder="05x-xxxxxxx">
                </label>
                <label class="item item-input">
                    <span class="input-label">Birthday</span>
                    <input date-parser="MM/DD/YYYY" ng-model="user.birthday"
                           ng-change="profileChanged=true" type="date" placeholder="">
                </label>
                <label class="item item-input em-gender">
                    <span class="input-label">Gender</span>
                    <ion-checkbox class="em-gender-cb" ng-model="isMale"
                                  ng-change="profileChanged=true"
                                  ng-checked="user.gender === 'M'">Male
                    </ion-checkbox>
                    <ion-checkbox class="em-gender-cb" ng-model="isFemale"
                                  ng-change="profileChanged=true" ng-checked="user.gender === 'F'">Female
                    </ion-checkbox>
                </label>
                <button class="button button-block button-dark"
                        ng-show="profileChanged"
                        ng-click="updateUser(user)">Save changes
                </button>
            </div>
        </div>
        <div class="item item-calm item-button-right" ng-hide="newGroupForm">
            Groups
            <button class="button button-small button-icon icon ion-plus-circled dark"
                    ng-click="setNewGroupFormStatus(true)"></button>
        </div>
        <form ng-submit="createGroup(gname)">
            <div class="item item-calm item-input-inset" ng-show="newGroupForm">
                <button ng-click="setNewGroupFormStatus(false)"
                        class="button button-small button-icon icon ion-ios-undo">

                </button>
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Group name" ng-model="gname">
                </label>
                <button type="submit"
                        class="button button-small button-icon icon ion-arrow-right-c">
                </button>

            </div>
        </form>
        <ion-list class="list" can-swipe="true">
            <ion-item
                class="item item-thumbnail-left"
                ng-repeat='item in groups'
                item="item" can-swipe="true"
                href="#/f/home/{{item.id}}"
            >
                <img src="100x100.png"/>
                <!--<img src="{{item.avatar ? item.avatar : '100x100.png'}}"/>-->
                <h2>{{item.name}}</h2>
                <p> Balance: {{item.currency}}
                    <b class="{{item.balance>0 ? 'balanced':'assertive'}}"> {{item.currencySymbol}} {{item.balance | number:2}} </b>
                </p>

                <ion-option-button class="button button-calm icon ion-settings dark"
                                   ng-click="goToGroupSettings(item)"
                                   title="Settings">
                    Edit
                </ion-option-button>

                <ion-option-button class="button button-dark icon ion-log-out"
                                   ng-click="removeUser(item,user)">
                    Leave
                </ion-option-button>

            </ion-item>

        </ion-list>

    </ion-content>
</ion-view>
