<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Money management login</title>
    <link href='https://fonts.googleapis.com/css?family=RobotoDraft:400,500,700,400italic' rel='stylesheet'
          type='text/css'>
    <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="../lib/ion-md-input/css/ion-md-input.min.css" rel="stylesheet">
    <link href="../lib/ionic-material/dist/ionic.material.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>
<body ng-app="login-app">
<ion-nav-view>
    <ion-view view-title="Login" align-title="left">
        <ion-content style="background-color: dimgray">
            <div class="hero no-header flat">
                <div class="content">
                    <div class="app-icon"></div>
                    <h1>Login to manage your money</h1>
                </div>
            </div>
            <div class="list">
                <ion-md-input placeholder="Username" highlight-color="balanced" type="text"
                              ng-model="username"></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="energized" type="password"
                              ng-model="password"></ion-md-input>
            </div>
            <div class="padding">
                <div ng-click="login(username,password)" class="button button-full button-balanced ink">Login</div>
            </div>
            <div class="button-bar social-login">
                <button class="button button-small button-border icon-left ion-social-google button-assertive-900">
                    Google+
                </button>
                <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter
                </button>
                <button ng-click="facebookLogin()"
                        class="button button-small button-border icon-left ion-social-facebook button-positive-900">
                    Facebook
                </button>
            </div>
        </ion-content>
    </ion-view>
</ion-nav-view>
<script src="../lib/ionic/js/ionic.bundle.js"></script>
<script src="../lib/ionic-material/dist/ionic.material.min.js"></script>
<script src="../lib/ion-md-input/js/ion-md-input.min.js"></script>
<script src="../lib/angular-facebook/lib/angular-facebook.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="../cordova.js"></script>
<!-- your app's js -->
<script src="../js/services.js"></script>
<script src="../js/controllers.js"></script>
<!--<script src="js/app.js"></script>-->
<script src="./login.ctrl.js"></script>
<!--<script src="templates/profile/profile.ctrl.js"></script>-->
</body>
</html>
