<ion-view>
    <ion-nav-title class="bar bar-header bar-dark item-button-left item-button-right">
        <button class="button button-clear icon ion-ios-undo"
                ng-click="goBack()">
        </button>
        <h1 class="title">{{transaction.title}} (@{{transaction.date | date: 'yyyy-MM-dd HH:mm'}})</h1>

        <div class="buttons">
            <button class="button button-clear icon ion-checkmark"
                    ng-click="saveTransaction()">
            </button>
        </div>
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-item class="item item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" ng-model="transaction.title"
                           placeholder="Title">
                </label>
            </ion-item>
            <div class="card">
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Amount</span>
                    <input type="number" ng-model="transaction.amount">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Date</span>
                    <input type="date" ng-model="transaction.date">
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Category</span>
                    <select ng-model="transaction.categoryId"
                            ng-options="item.id as item.name for item in groupCategories">
                        <!--<option ng-repeat="item in groupCategories" value="item.id"><i class="icon {{item.icon}}"></i>-->
                        <!--{{item.name}}-->
                        <!--</option>-->
                    </select>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Account</span>
                    <select ng-model="transaction.accountId"
                            ng-options="item.id as item.name for item in groupAccounts">
                        <!--<option ng-repeat="item in groupAccounts" value="item.id">-->
                        <!--<span class="icon {{item.icon}}"></span>-->
                        <!--{{item.name}}-->
                        <!--</option>-->
                    </select>
                </label>
            </div>
            <div class="card">
                <div class="button-bar">
                    <button class="button" ng-class="{'active': transaction.type!='internal'}"
                            ng-click="transaction.type='external'">
                        {{transaction.amount<0 ? 'Beneficiary' : 'Account of'}}
                    </button>
                    <button class="button" ng-class="{'active': transaction.type=='internal'}"
                            ng-click="transaction.type='internal'">Transfer
                    </button>
                </div>
                <label class="item item-input item-stacked-label"
                       ng-show="transaction.type!='internal'">
                    <span class="input-label">Beneficiary</span>
                    <input type="search" placeholder="Beneficiary"
                           ng-model="transaction.location.name" ng-change="filterTargets()">
                </label>
                <label class="item item-input item-select"
                       ng-show="transaction.type=='internal'">
                    <span class="input-label">Account</span>
                    <select ng-model="transaction.target"
                            ng-options="item.id as item.name for item in accounts">
                    </select>
                </label>
            </div>
            <div class="card">
                <map center="{{transaction.location.latitude}},{{transaction.location.longitude}}" zoom="17">
                    <marker position="{{transaction.location.latitude}},{{transaction.location.longitude}}"
                            title="{{transaction.location.title}}"></marker>
                    <marker ng-repeat="item in places" position="{{item.latitude}},{{item.longitude}}"
                            title="{{item.title}}"></marker>
                </map>
            </div>
        </ion-list>
    </ion-content>
    <!--<multiple-views-support width="30%" />-->
</ion-view>
