<ion-view>
    <!--<ion-nav-buttons side="right">-->
    <!--<button class="button button-assertive ion-plus"-->
    <!--ng-click="newTransaction()"></button>-->
    <!--</ion-nav-buttons>-->
    <ion-header-bar class="bar bar-header bar-dark item-button-left item-button-right">
        <button class="button batton-small button-positive ion-person"
                ng-click="goBack()">Groups</button>
        <h1 class="title">
            <img ng-show="account.avatarSmall" class="title-image" src="{{account.avatarSmall}}"
                 alt="{{account.name}}"/>Account {{account.name}}</h1>

        <div class="buttons">
            <button class="button button-positive ion-plus"
                    ng-click="newTransaction()"></button>
        </div>
    </ion-header-bar>
    <div class="bar bar-subheader item-input-inset bar-light">
        <label class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" ng-model="query" placeholder="Search">
        </label>
    </div>
    <ion-content class="has-subheader">
        <ion-refresher
                pulling-text="Pull to refresh..."
                on-refresh="doRefresh()"
                refreshing-text="Refreshing!"
                refreshing-icon="ion-loading-c">
        </ion-refresher>

        <ion-list>
            <div ng-repeat='item in account.transactions | filter: query'>
                <ion-item item="item" class="item no-padding">
                    <div class="item-icon-left no-padding" ng-click="editTransaction(item.id)">
                        <i class="icon ion-record" style="color:{{item.categoryColor}}"></i>

                        <h2>{{item.title}}</h2>

                        <p>{{item.target}}</p>
                        <a class="badge {{item.amount >0 ? 'badge-balanced' : 'badge-assertive'}}">
                            {{item.amount}}
                        </a>
                    </div>


                    <ion-option-button class="button button-dark icon ion-map"
                                       ng-click="item.showMap=!item.showMap">
                    </ion-option-button>
                    <ion-option-button class="button button-assertive icon ion-trash-b"
                                       ng-click="deleteTransaction(item)">
                    </ion-option-button>
                </ion-item>
                <div class="card" ng-show="item.showMap">
                    <div ng-google-map></div>
                </div>

            </div>
        </ion-list>
        <ion-infinite-scroll ng-show="false"
                             on-infinite="loadMore()"
                             distance="10%">
        </ion-infinite-scroll>
    </ion-content>
    <multiple-views-support width="40%" />
</ion-view>