<ion-view title="" id="login-view">
    <ion-nav-title class="bar bar-header bar-dark">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class="title">About</h1>
    </ion-nav-title>
    <ion-content>
        <div class="logo-welcome"></div>
        <div class="padding light">
            This app was developed by Delirium Software for public use.
            There is no guarantee to your information at the moment as it is on Alpha stages.
            Please send any feedback you have to style.daniel@gmail.com.
        </div>
        <div class="padding light text-center">
            This app was developed with the help of:
            <div>Daniel Moran</div>
            <div>Meni Binyamin</div>
        </div>
    </ion-content>
    <div id="footer" class="bar bar-footer">
        <div class="title em-footer-title">© Delirium Software</div>
    </div>
</ion-view>
