<ion-view>

    <ion-nav-title class="bar bar-header bar-dark">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
        <h1 class="title">Transactions {{groupName}}</h1>
        <button class="button button-icon button-clear ion-funnel" ng-click="toggleFilter()"></button>
    </ion-nav-title>

    <ion-content overflow-scroll="true">

        <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="resetPage()"
            refreshing-text="Refreshing!"
            refreshing-icon="ion-loading-c">
        </ion-refresher>
        <form ng-submit="createTransaction(t)">
            <label class="item item-input-inset">
                <label class="button button-icon {{t.plusSign? 'balanced ion-plus':'assertive ion-minus'}}"
                       ng-click="t.plusSign=!t.plusSign">
                </label>
                <label class="item-input-wrapper">
                    <input type="tel" ng-model="t.amount"
                           placeholder="{{t.plusSign?'Amount earned':'Amount spent'}}">
                </label>
                <button class="button button-icon ion-arrow-right-c"
                        type="submit"
                ></button>

            </label>
        </form>
        <ion-list can-swipe="true">
            <ion-item class="item-divider">
                <h2 class="title text-center {{sumAll >0 ? 'balanced' : 'assertive'}}">{{sumAll | number:2}}</h2>
            </ion-item>
            <ion-item item="item" class="item  center-content" can-swipe="true"
                      ng-repeat="item in transactions | filter: filterT | orderBy: '-date'"
                      href="#/f/transaction/{{item.id}}">
                <div class="item-icon-left item-button-right">
                    <i class="icon {{item.id? item.categoryIcon : 'ion-loop'}} {{item.categoryColor}}"></i>

                    <h2>
                        <b>{{item.title? item.title : item.locationTitle}}</b>
                    </h2>

                    <p>{{item.date | date: 'yyyy-MM-dd HH:mm'}} {{item.target? item.target : ''}}</p>
                    <a class="button button-clear ">
                        <span class=" {{item.amount >0 ? 'balanced' : 'assertive'}}">
                        {{item.amount}}
                        </span>
                    </a>
                </div>

                <ion-option-button class="button button-assertive icon ion-trash-b"
                                   ng-click="deleteTransaction(item)">
                </ion-option-button>
            </ion-item>
            <ion-item class="item">
                <button class="button button-block"
                        ng-show="page+1<totalPages"
                        ng-click="loadMore()">Load more</button>
            </ion-item>
        </ion-list>

    </ion-content>
    <div class="bar bar-footer bar-dark">
        <div class="title">{{noData}} transactions without category</div>
        <button class="button button-icon button-clear {{filterT? 'ion-eye-disabled':'ion-eye'}}"
                ng-click="toggleDefaultFilter()"></button>
    </div>
</ion-view>
